<div class="jumbotron">
    <h1>Water Jugs!</h1>
    <h4>Console version: <a href="https://github.com/oguiulfo/WaterJugsCSharpConsoleApp">https://github.com/oguiulfo/WaterJugsCSharpConsoleApp</a></h4>
</div>
<div class="row">
    @Html.Partial("_JugsSubmitForm")
</div>